<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>
<!-- Piping tasks -->
<!-- <div>
    <div>
        {{title | lowercase}}
    </div>
    <div>
        {{price | currency: 'INR'}}
    </div>
    <div>
        {{rate | percent}}
    </div>
</div> -->

<!-- <div class="demo">
    <div>Start Date: {{startDate | date: 'dd MMM yyyy'}}</div>
</div> -->

<div class="courses" *ngFor="let course of courses">
  <ng-template #noImage let-courseName="description">
    <p class="warn">{{ courseName }} has no image yet.</p>
    <img src="/assets/empty-image.png" />
  </ng-template>
  <!-- <div
    *ngTemplateOutlet="noImage; context: { description: course.description }"
  ></div> -->

  <course-card (courseSelected)="onCourseSelected($event)" [course]="course" [noImageTpl]="noImage">
    <img width="300" alt="Angular Logo" [src]="course.iconUrl" />
  </course-card>
</div>

<!-- [cardIndex]="i + 1" -->
<!-- [class.is-first]="isFirst"
[class.is-last]="isLast"
[class.is-even]="isEven"
[class.is-odd]="isOdd" -->
<!--   
    *ngFor="
    let course of courses | slice:0:2;
    index as i;
    first as isFirst;
    last as isLast;
    even as isEven;
    odd as isOdd
  " 
-->
